.view {
  width: 60%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

  h2 {
    text-align: center;
  }

  .custom-card-bar {
    border: 1px solid #203f58;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .card-header-bar {
      background-color: #215385c7;
      color: white;
      padding: 12px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
    }

    mat-card-content {
      padding: 25px;

      table {
        width: 100%;
        margin-top: 20px;
        box-shadow: 0 4px 8px #18191a59;
        border-radius: 8px;

        thead tr th {
            padding: 10px 10px;
            border: 2px solid #00396e59;
            text-align: center;
            background-color: #00396e59;
        }

        tbody {
            border: 2px solid #00396e59;

            tr {
                border-bottom: 2px solid #00396e59;

                &:last-child {
                    border-bottom: none;
                }

                &:hover {
                    cursor: context-menu;
                    transform: scale(1.02);

                    td {
                        background-color: #e0ebf573;
                        border: none;
                    }
                }

                td {
                    text-align: center;
                    padding: 12px 20px;
                    border-left: 2px solid #00396e59;

                    &:first-child {
                        border-left: none;
                    }

                    .buttons {
                        display: flex;
                        justify-content: center;
                        gap: 20px;

                        .view-button {
                            background-color: #00586e;
                            color: white;
                        }

                        .edit-button {
                            background-color: #6e6700;
                            color: white;
                        }

                        .delete-button {
                            background-color: #6e0000;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;

    /* Botón Listar */
    .plist-button {
      background-color: #4C6B8C;
      color: white;
      border-radius: 5px;
      font-size: 14px;
    }

    .plist-button:hover {
      background-color: #6d98c2;
      transform: scale(1.05);
      transition: transform 0.1s ease;
    }
  }

}