<div class="view">
  <h2>Ver Calificacion <mat-icon>feature_search</mat-icon></h2>

  <mat-card class="example-card custom-card-bar" appearance="outlined">
    <div class="card-header-bar">
      <h3>ID del Calificacion: {{ oCalificacion.id }}</h3>
    </div>

    <mat-card-content>
      <p><strong>Calificacion:</strong> {{ oCalificacion.calificacion }}</p>
      <p><strong>Fecha de Evaluación:</strong> {{ oCalificacion.fecha_evaluacion }}</p>
      <p><strong>ID de Usuario:</strong> {{ oCalificacion.usuario.id }}</p>
      <p><strong>ID de Examen:</strong> {{ oCalificacion.examen.id }}</p>
      <p><strong>ID de Tema:</strong> {{ oCalificacion.tema.id }}</p>
    </mat-card-content>
  </mat-card>

  <div class="buttons">
    <button mat-fab extended class="plist-button" (click)="plist()">
      <mat-icon>format_list_numbered</mat-icon>Ir a listado de calificacions
    </button>

    <button mat-fab extended class="edit-button" (click)="edit(oCalificacion)">
      <mat-icon>edit</mat-icon>Editar
    </button>

    <button mat-fab extended class="delete-button" (click)="delete(oCalificacion)">
      <mat-icon>delete</mat-icon>Borrar
    </button>
  </div>
</div>