<mat-dialog-content>

  <h2>Lista de Examenes <mat-icon>article</mat-icon></h2>

  <hr>
  <div class="filters">
    <h3>Filtrar</h3>
    <!-- BUSCADOR -->
    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [(ngModel)]="strFiltro" (ngModelChange)="filter($event)" placeholder="Buscar">
    </mat-form-field>
  </div>
  <hr>

  <div class="pag">
    <!-- FILTROS -->
    <h5>
      Mostrando {{ oPage?.numberOfElements | number : "1.0-0" }} de
      {{ oPage?.totalElements | number : "1.0-0" }}
    </h5>

    <div>
      <!-- BOTONERA x Numero de datos -->
      <section>
        <mat-button-toggle-group [value]="'10'">
          <mat-button-toggle value="10" (click)="goToRpp(10)">10</mat-button-toggle>
          <mat-button-toggle value="50" (click)="goToRpp(50)">50</mat-button-toggle>
          <mat-button-toggle value="100" (click)="goToRpp(100)">100</mat-button-toggle>
        </mat-button-toggle-group>
      </section>

      <!-- BOTONERA -->
      <ul>
        <li>
          <a [class.disabled]="nPage - - 1 === 1" (click)="goToPrev()" href="#">
            <mat-icon>arrow_back_ios</mat-icon></a>
        </li>
        <li *ngFor="let pag of arrBotonera">
          @if(pag==='...'){
          <a> {{ pag }}</a>
          } @else {
          <a href="#" (click)="goToPage(-(-pag))" [class.active]="nPage - -1 === -(-pag)">
            {{ pag }}
          </a>
          }
        </li>
        <li>
          <a [class.disabled]="nPage - -1 === oPage?.totalPages" (click)="goToNext()"
            href="#"><mat-icon>arrow_forward_ios</mat-icon></a>
        </li>
      </ul>
    </div>
  </div>

  <!-- TABLA -->
  <table>
    <thead>
      <tr>
        <th (click)="sort('id')">Id</th>
        <th (click)="sort('nombre')">Nombre</th>
        <th (click)="sort('num_preguntas')">Nº Preguntas</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      @for (examen of oPage?.content; track examen.id) {
      <tr>
        <td>{{ examen.id }}</td>

        <td>{{ examen.nombre | trim : 40 }}</td>

        <td>{{ examen.num_preguntas }}</td>

        <td>
          <div class="buttons">
            <button mat-mini-fab class="select-button" (click)="select(examen)">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="6">No hay examens</td>
      </tr>
      }
    </tbody>

  </table>
</mat-dialog-content>