<div class="create">
  <h2>Crear un nuevo tema <mat-icon>add_circle</mat-icon></h2>

  <!-- Formulario -->
  <form [formGroup]="oTemaForm!" (ngSubmit)="onSubmit()" novalidate>

    <!-- Campo - Titulo -->
    <mat-form-field>
      <mat-label>Titulo del examen</mat-label>
      <mat-icon matPrefix>article</mat-icon>
      <input matInput formControlName="titulo" placeholder="Introduce el titulo del examen" />

      <mat-hint align="start">De 2 caracteres a 50 caracteres</mat-hint>
      @if (oTemaForm?.get('titulo')?.hasError('required')){
      <mat-error> El campo nombre es obligatorio </mat-error>
      } @if (oTemaForm?.get('titulo')?.hasError('minlength')){
      <mat-error> El nombre debe ser mas largo </mat-error>
      } @if (oTemaForm?.get('titulo')?.hasError('maxlength')){
      <mat-error> El nombre debe ser mas corto </mat-error>
      }
    </mat-form-field>

    <!-- Campo - Descripcion -->
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <mat-icon matPrefix>description</mat-icon>
      <textarea matInput formControlName="descripcion" placeholder="Escribe una breve descripción" required></textarea>

      <mat-hint align="start">Escribe una breve descripción (máx. 255 caracteres)</mat-hint>
      @if (oTemaForm?.get('descripcion')?.hasError('required')) {
      <mat-error>Debes introducir una breve descripción</mat-error>
      } @if (oTemaForm?.get('descripcion')?.hasError('minlength')) {
      <mat-error>Debes introducir una descripcion más larga</mat-error>
      } @if (oTemaForm?.get('descripcion')?.hasError('maxlength')) {
      <mat-error>Debes introducir una descripcion más corta</mat-error>
      }
    </mat-form-field>

    <!-- Campo - Curso -->
    <mat-form-field formGroupName="curso">
      <mat-label>Nombre del Curso</mat-label>
      <mat-icon matPrefix>format_list_numbered</mat-icon>
      
      <!-- Usamos formGroupName="usuario" y formControlName="id" -->
      <input matInput  formControlName="id" placeholder="ID de curso" />
    
      <button mat-icon-button matSuffix (click)="openDialog()">
        <mat-icon>manage_search</mat-icon>
      </button>
    </mat-form-field>
    
    <div class="buttons">
      <button mat-fab extended class="plist-button" [routerLink]="['/admin', 'tema', 'plist']">
        <mat-icon>format_list_numbered</mat-icon>Ir a listado de temas
      </button>

      <button mat-fab extended class="reset-button" (click)="onReset()">
        <mat-icon>refresh</mat-icon>Limpiar campos
      </button>

      <button mat-fab extended class="save-button" type="submit" [disabled]="!oTemaForm?.valid">
        <mat-icon>save</mat-icon>Guardar
      </button>
    </div>
  </form>

  <!-- Modal -->
  <div class="modal fade" [id]="'mimodal'" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Contante</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="hideModal()"></button>
        </div>
        <div class="modal-body">
          <p>{{ strMessage }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="hideModal()">
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>